:root {
    --button-color: #01bdb2;
    --white-color: #fff;
    --trend-color: #142959
}

#root{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Glass  */
/* background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3); */

.header {
    background: rgba(255, 255, 255, 0.800);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.067);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.header-button {
    padding: 20px 25px;
    font-size: 15px;
    font-weight: 700;
    color: var(--white-color);
    border-radius: 6px;
    background-color: var(--button-color);
}

.main-button {
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 700;
    color: var(--white-color);
    border-radius: 6px;
    background-color: var(--button-color);
}

.main-button:nth-child(2) {
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 700;
    color: var(--white-color);
    border-radius: 6px;
    background-color: var(--trend-color);
}
    
.custom-shape-divider-bottom-1759732534 {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1759732534 svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 86px;
}

.custom-shape-divider-bottom-1759732534 .shape-fill {
    fill: #FFFFFF;
}